<div class="row">
  <aside class="col-md-4">
    <section class="farmer_info">
      <%= render 'shared/farmer_info' %>
    </section>
    <section class="activity_form">
      <%= render 'shared/activity_form' %>
    </section>
  </aside>
  <div class="col-md-8">
    <h3>Activity Feed</h3>
    <%= render 'shared/feed' %>
  </div>
</div>
