<div class="center jumbotron">
  <h1>Sample app</h1>
  <h2>
    <a href="https://app.farmeron.com"><em>Farmeron App</em></a>
     farmer's best and only friend.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
