<%= form_for(@activity) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div class="field">
    <%= f.text_area :content, placeholder: "Activity content..." %>
  </div>

  <div class="field">
    <%= f.label 'Due date:' %>
    <%= f.text_field :activity_date, :id => "datepicker", :value => Date.today %>
  </div>

  <div class="field">
    <%= f.label 'Assigned farmer:' %>
    <%= f.collection_select :farmer_id, Farmer.all, :id, :name %>
  </div>

  <%= f.label :public, class: "checkbox" do %>
    <%= f.check_box :public %>
    <span>Is public?</span>
  <% end %>

  <%= f.label :active, class: "checkbox" do %>
    <%= f.check_box :active, { :checked => !@activity.active }, 0, 1 %>
    <span>Is done?</span>
  <% end %>

  <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>
<input type="text" class='datepicker' >

<script>
  $('#datepicker').datepicker({format: 'yyyy-mm-dd'});
</script>
