<%= link_to gravatar_for(current_farmer, size: 50), current_farmer %>
<h1><%= current_farmer.name %></h1>
<span><%= link_to "view my profile", current_farmer %></span>
<span><%= pluralize(current_farmer.activities.count, "activity") %></span>
