<li>
  <%= gravatar_for farmer, size: 50 %>
  <%= link_to farmer.name, farmer %>
  <% if current_farmer.admin? && !current_farmer?(farmer) %>
    | <%= link_to "delete", farmer, method: :delete,
                                  data: { confirm: "You sure?" } %>
  <% end %>
</li>
