<% provide(:title, @farmer.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="farmer_info">
      <h1>
        <%= gravatar_for @farmer %>
        <%= @farmer.name %>
      </h1>
    </section>
  </aside>
  <div class="col-md-8">
    <% if @farmer.activities.any? %>
      <h3>All activities: (<%= @activities.count %>)</h3>
      <h4>Scheduled activities: (<%= @farmer.activities.count %>)</h4>
      <ol class="activities">
        <%= render @activities %>
      </ol>
      <%= will_paginate @activities %>
    <% end %>
  </div>
</div>
