<li id="activity-<%= activity.id %>">
  <%= link_to gravatar_for(activity.farmer, size: 50), activity.farmer %>
  <span class="farmer"><%= link_to activity.farmer.name, activity.farmer %></span>
  <span class="content"><%= activity.content %></span>
  <span class="timestamp">
    Scheduled date: <%= activity.activity_date.to_formatted_s(:short) %>.
    <% if current_farmer?(activity.farmer) %>
      <%= link_to "delete", activity, method: :delete,
                                      data: { confirm: "You sure?" } %>
      <%= link_to "edit", edit_activity_path(activity) %>
      <% end %>
  </span>
</li>
